@font-face {
    font-family: 'Environment';
    src: url(EnvironmentBold.ttf);
}
@font-face {
    font-family: 'Gotham';
    src: url(Gotham-Book.otf);
}

h1{
    font-family: Environment;
    font-size: xxx-large;
   
}
h3{
    font-family: Gotham;
}
p{
    font-family: Gotham;
}